body {
    background-color: #fbfbfb;
}

div.nyht-nav-panel {
    background-color: #f0f0f0;
    -webkit-box-shadow: 7px 0px 42px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 0px 42px -16px rgba(0,0,0,0.75);
    box-shadow: 7px 0px 42px -16px rgba(0,0,0,0.75);
}

h1.application-title {
    font-weight: bold;
    font-size: 1.3vw;
    color: #212529;
    margin-top: 2vh;
}

div.nyht-content-panel {
    padding-left: 3em;
    padding-right: 3em;
}

div.nyht-content-panel h2 {
    margin-top: 1em;
    margin-bottom: 0.7em;
}